:root {
  --white: #ffffff;
  --stone-100: #f3e6d8;
  --stone-150: #e4ded8;
  --stone-600: #5f574e;
  --stone-900: #302d2c;
  --brown-800: #854632;
  --rose-800: #7b284f;
  --rose-50: #fff5fa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #f3e6d8;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2 {
  font-family: "Young serif", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

#root,
#__next {
  isolation: isolate;
}

/* Container */
.container {
  width: 810px;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Global Style */
.recipe-ingredients h2,
.recipe-instructions h2,
.recipe-nutrition h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--brown-800);
  margin-bottom: 20px;
}

/* card */
.recipe-card {
  background-color: var(--white);
  padding: 40px;
  margin: 48px;
  border-radius: 20px;
}

.recipe-image img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.recipe-content h1 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--stone-900);
  margin-bottom: 12px;
}

.recipe-content p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--stone-600);
  margin-bottom: 20px;
}

/* Recipe Preparation */
.recipe-preparation {
  background-color: var(--rose-50);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.recipe-preparation h3 {
  font-size: 1.25rem;
  color: var(--rose-800);
  font-weight: 600;
  margin-bottom: 10px;
}

.recipe-preparation li {
  font-size: 1rem;
  color: var(--stone-600);
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.recipe-preparation li::before {
  content: " ";
  display: inline-block;
  background: var(--rose-800);
  width: 4px;
  height: 4px;
  border-radius: 50px;
  margin-right: 20px;
  margin-left: 8px;
}

.recipe-preparation strong {
  margin-right: 4px;
}

/* Recipe Ingredients  */
.recipe-ingredients ul {
  margin-bottom: 20px;
}

.recipe-ingredients li {
  font-size: 1rem;
  font-weight: 400;
  color: var(--stone-600);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.recipe-ingredients li::before {
  content: "";
  display: inline-block;
  background: var(--rose-800);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 8px;
}

.recipe-ingredients ul:last-child {
  border-bottom: solid 1px var(--stone-150);
  padding-bottom: 20px;
}

/* Recipe Instructions */
.recipe-instructions ul {
  font-size: 1rem;
  font-weight: 400;
  color: var(--stone-600);
  margin-bottom: 20px;
}

.recipe-instructions li {
  counter-increment: item;
  margin-bottom: 8px;
  margin-left: 36px;
  position: relative;
}

.recipe-instructions li::before {
  content: counter(item) ".";
  color: var(--brown-800);
  font-weight: 700;
  position: absolute;
  left: -32px;
}

.recipe-instructions ul:last-child {
  border-bottom: solid 1px var(--stone-150);
  padding-bottom: 20px;
}

/* Recipe Nutrition */
.recipe-nutrition p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--stone-600);
  margin-bottom: 20px;
}

.recipe-nutrition table {
  border-collapse: collapse;
  width: 100%;
}

.recipe-nutrition td {
  padding: 0 175px 10px 25px;
  text-align: left;
  color: var(--stone-600);
  font-weight: 400;
}

table tr td:nth-child(2) {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.recipe-nutrition tr:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 79%);
}

@media screen and (max-width: 640px) {
  .recipe-card {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  .recipe-image {
    margin-bottom: 80px;
  }
  .recipe-image img {
    border-radius: 0;
  }

  .recipe-content h1 {
    font-size: 4.8rem;
    line-height: 1;
    margin: 40px 80px;
  }

  .recipe-content p,
  .recipe-ingredients,
  .recipe-instructions,
  .recipe-nutrition {
    margin: 0 100px 40px 80px;
  }
  .recipe-preparation {
    margin: 0 100px 40px 80px;
  }
  .recipe-preparation h3 {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 2.5rem;
  }
  .recipe-preparation li {
    font-size: 1.8rem;
    padding-left: 20px;
  }

  .recipe-preparation li::before {
    width: 8px;
    height: 8px;
    margin-right: 25px;
    margin-left: 10px;
  }

  .recipe-ingredients h2,
  .recipe-instructions h2,
  .recipe-instructions h2,
  .recipe-nutrition h2 {
    font-size: 3rem;
  }

  .recipe-content p,
  .recipe-ingredients li,
  .recipe-instructions li {
    font-size: 2rem;
  }

  .recipe-ingredients li::before {
    width: 10px;
    height: 10px;
    margin-right: 20px;
  }

  .recipe-ingredients ul:last-child,
  .recipe-instructions ul:last-child {
    border-bottom: solid 1px var(--stone-150);
    padding-bottom: 40px;
  }
  .recipe-nutrition p {
    font-size: 2.1rem;
  }
  .recipe-nutrition td {
    font-size: 2rem;
    padding: 0 175px 10px 25px;
  }
}
